<section class="movie-card">
  <div class="img-holder">
    <img [src]="movie.urlPoster" height="268" width="182" alt="">
  </div>
  <div class="description-holder">
    <h3> {{ movie.title }}</h3>
    <p> year  <strong>{{ movie.year }}</strong></p>
    <p> IMDB rating <strong>{{ movie.rating }}</strong></p>
    <p> genre <strong>
      <span *ngFor="let genre of movie.genres; let last = last"> {{ genre }}
      <span *ngIf="!last">,</span></span></strong></p>
    <p> country
      <strong>
        <span *ngFor="let country of movie.countries; let last = last"> {{ country }}
        <span *ngIf="!last">,</span></span></strong> </p>
    <p> director
      <strong>
        <span *ngFor="let director of movie.directors; let last = last">
        <a routerLink="." (click)="openDirectorPage(director.id)">{{ director.name }} </a>
        <span *ngIf="!last">,</span>
      </span></strong></p>
    <button mat-raised-button
            color="primary"
            (click)="getTrailer(movie.title)">Trailer</button>
  </div>
  <div class="like-button-holder">
    <button mat-icon-button
            [color]="likedColor"
            (click)="setLike(likedStatus, movie)"
            aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</section>
